{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}
<div class="flex flex-col gap-8 py-2">
    <div class="w-full text-center text-cyan-800">
        <h1 class="text-xl">Results</h1>
    </div>
    <div>
        <turbo-frame id="result_table">
            {{ include('results/_table.html.twig') }}
        </turbo-frame>
    </div>
</div>
{% endblock %}
